openapi: 3.1.0
info:
  title: VibeMaxxing Public API
  version: 1.0.0-planning
  description: Planning-grade interface contract. It is not an implemented service.
servers:
  - url: https://api.vibemaxxing.dev/v1
security:
  - bearerAuth: []
paths:
  /auth/github/start:
    post: {operationId: startGitHubAuth, security: [], responses: {'202': {$ref: '#/components/responses/Operation'}, default: {$ref: '#/components/responses/Error'}}}
  /auth/github/callback:
    get: {operationId: completeGitHubAuth, security: [], responses: {'200': {$ref: '#/components/responses/Resource'}, default: {$ref: '#/components/responses/Error'}}}
  /auth/x/start:
    post: {operationId: startXAuth, security: [], responses: {'202': {$ref: '#/components/responses/Operation'}, default: {$ref: '#/components/responses/Error'}}}
  /auth/x/callback:
    get: {operationId: completeXAuth, security: [], responses: {'200': {$ref: '#/components/responses/Resource'}, default: {$ref: '#/components/responses/Error'}}}
  /auth/device/start:
    post: {operationId: startDeviceAuth, security: [], responses: {'202': {$ref: '#/components/responses/Operation'}, default: {$ref: '#/components/responses/Error'}}}
  /auth/device/poll:
    post: {operationId: pollDeviceAuth, security: [], responses: {'200': {$ref: '#/components/responses/Resource'}, default: {$ref: '#/components/responses/Error'}}}
  /auth/device/exchange:
    post: {operationId: exchangeDeviceAuth, security: [], responses: {'200': {$ref: '#/components/responses/Resource'}, default: {$ref: '#/components/responses/Error'}}}
  /sessions:
    get: {operationId: listSessions, responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
  /sessions/{id}/revoke:
    post:
      operationId: revokeSession
      parameters: [{$ref: '#/components/parameters/Id'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      responses: {'202': {$ref: '#/components/responses/Operation'}, default: {$ref: '#/components/responses/Error'}}
  /identities:
    get: {operationId: listIdentities, responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
  /identities/link:
    post: {operationId: linkIdentity, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], responses: {'202': {$ref: '#/components/responses/Operation'}, default: {$ref: '#/components/responses/Error'}}}
  /identities/unlink:
    post: {operationId: unlinkIdentity, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], responses: {'202': {$ref: '#/components/responses/Operation'}, default: {$ref: '#/components/responses/Error'}}}
  /devices:
    get: {operationId: listDevices, responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
  /devices/enroll:
    post: {operationId: enrollDevice, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], responses: {'201': {$ref: '#/components/responses/Resource'}, default: {$ref: '#/components/responses/Error'}}}
  /devices/{id}/rotate:
    post: {operationId: rotateDeviceKey, parameters: [{$ref: '#/components/parameters/Id'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'202': {$ref: '#/components/responses/Operation'}, default: {$ref: '#/components/responses/Error'}}}
  /devices/{id}/revoke:
    post: {operationId: revokeDevice, parameters: [{$ref: '#/components/parameters/Id'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'202': {$ref: '#/components/responses/Operation'}, default: {$ref: '#/components/responses/Error'}}}
  /claim-challenges:
    post:
      operationId: createClaimChallenge
      responses:
        '201':
          description: Account and device bound batch challenge
          content: {application/json: {schema: {$ref: '#/components/schemas/ClaimChallenge'}}}
        default: {$ref: '#/components/responses/Error'}
  /claim-batches:
    post:
      operationId: submitClaimBatch
      parameters: [{$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/cbor: {schema: {type: string, contentEncoding: base64}}}}
      responses:
        '200': {description: Atomic batch verification result, content: {application/json: {schema: {$ref: '#/components/schemas/BatchResult'}}}}
        default: {$ref: '#/components/responses/Error'}
  /claims/{id}:
    get: {operationId: getClaim, parameters: [{$ref: '#/components/parameters/Id'}], responses: {'200': {$ref: '#/components/responses/Resource'}, default: {$ref: '#/components/responses/Error'}}}
  /leaderboards/{scope}/{period}:
    get:
      operationId: getLeaderboard
      security: []
      parameters:
        - {name: scope, in: path, required: true, schema: {type: string}}
        - {name: period, in: path, required: true, schema: {enum: [daily, weekly, monthly, seasonal, yearly, lifetime]}}
        - {name: cursor, in: query, schema: {type: string, maxLength: 2048}}
        - {name: limit, in: query, schema: {type: integer, minimum: 1, maximum: 200, default: 50}}
      responses:
        '200': {description: Snapshot-consistent leaderboard page, content: {application/json: {schema: {$ref: '#/components/schemas/LeaderboardPage'}}}}
        default: {$ref: '#/components/responses/Error'}
  /rank/me:
    get: {operationId: getCurrentRank, responses: {'200': {description: Current-user rank, content: {application/json: {schema: {$ref: '#/components/schemas/RankEntry'}}}}, default: {$ref: '#/components/responses/Error'}}}
  /profiles/{handle}:
    get: {operationId: getPublicProfile, security: [], parameters: [{$ref: '#/components/parameters/Handle'}], responses: {'200': {$ref: '#/components/responses/Resource'}, default: {$ref: '#/components/responses/Error'}}}
  /me:
    get: {operationId: getMe, responses: {'200': {$ref: '#/components/responses/Resource'}, default: {$ref: '#/components/responses/Error'}}}
    patch: {operationId: updateMe, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/Resource'}, default: {$ref: '#/components/responses/Error'}}}
  /friends:
    get: {operationId: listFriends, responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
  /friend-requests:
    get: {operationId: listFriendRequests, responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
    post: {operationId: createFriendRequest, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], responses: {'202': {$ref: '#/components/responses/Operation'}, default: {$ref: '#/components/responses/Error'}}}
  /blocks:
    get: {operationId: listBlocks, responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
    post: {operationId: createBlock, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], responses: {'202': {$ref: '#/components/responses/Operation'}, default: {$ref: '#/components/responses/Error'}}}
  /rivals:
    get: {operationId: listRivals, responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
    post: {operationId: createRival, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], responses: {'202': {$ref: '#/components/responses/Operation'}, default: {$ref: '#/components/responses/Error'}}}
  /boards:
    get: {operationId: listBoards, responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
    post: {operationId: createBoard, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], responses: {'201': {$ref: '#/components/responses/Resource'}, default: {$ref: '#/components/responses/Error'}}}
  /boards/{id}/invitations:
    post: {operationId: createBoardInvitation, parameters: [{$ref: '#/components/parameters/Id'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'202': {$ref: '#/components/responses/Operation'}, default: {$ref: '#/components/responses/Error'}}}
  /organizations:
    get: {operationId: listOrganizations, responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
    post: {operationId: createOrganization, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], responses: {'201': {$ref: '#/components/responses/Resource'}, default: {$ref: '#/components/responses/Error'}}}
  /communities:
    get: {operationId: listCommunities, responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
    post: {operationId: createCommunity, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], responses: {'201': {$ref: '#/components/responses/Resource'}, default: {$ref: '#/components/responses/Error'}}}
  /presence:
    get: {operationId: getPresence, responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
    put: {operationId: renewPresence, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/Resource'}, default: {$ref: '#/components/responses/Error'}}}
  /notifications:
    get: {operationId: listNotifications, responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
  /moderation/cases:
    get: {operationId: listModerationCases, responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
    post: {operationId: createModerationCase, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], responses: {'201': {$ref: '#/components/responses/Resource'}, default: {$ref: '#/components/responses/Error'}}}
  /appeals:
    get: {operationId: listAppeals, responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
    post: {operationId: createAppeal, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], responses: {'201': {$ref: '#/components/responses/Resource'}, default: {$ref: '#/components/responses/Error'}}}
  /exports:
    post: {operationId: requestExport, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], responses: {'202': {$ref: '#/components/responses/Operation'}, default: {$ref: '#/components/responses/Error'}}}
  /deletion-requests:
    post:
      operationId: requestDeletion
      parameters: [{$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: false, required: [scope], properties: {scope: {enum: [server, local, everything]}}}}}}
      responses: {'202': {$ref: '#/components/responses/Operation'}, default: {$ref: '#/components/responses/Error'}}
  /pricing-datasets:
    get: {operationId: listPricingDatasets, security: [], responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
  /compatibility:
    get: {operationId: getCompatibility, security: [], responses: {'200': {$ref: '#/components/responses/Collection'}, default: {$ref: '#/components/responses/Error'}}}
components:
  securitySchemes:
    bearerAuth: {type: http, scheme: bearer}
  parameters:
    Id: {name: id, in: path, required: true, schema: {type: string, format: uuid}}
    Handle: {name: handle, in: path, required: true, schema: {type: string, minLength: 3, maxLength: 30}}
    IdempotencyKey: {name: Idempotency-Key, in: header, required: true, schema: {type: string, minLength: 16, maxLength: 128}}
  responses:
    Error: {description: Stable safe error envelope, content: {application/json: {schema: {$ref: '#/components/schemas/Error'}}}}
    Resource: {description: Resource response, content: {application/json: {schema: {$ref: '#/components/schemas/Resource'}}}}
    Collection: {description: Collection response, content: {application/json: {schema: {$ref: '#/components/schemas/Collection'}}}}
    Operation: {description: Accepted operation, content: {application/json: {schema: {$ref: '#/components/schemas/Operation'}}}}
  schemas:
    Resource:
      type: object
      additionalProperties: true
      required: [request_id, id]
      properties: {request_id: {type: string, format: uuid}, id: {type: string}}
    Collection:
      type: object
      additionalProperties: false
      required: [request_id, items]
      properties: {request_id: {type: string, format: uuid}, next_cursor: {type: [string, 'null']}, items: {type: array, items: {type: object}}}
    ClaimChallenge:
      type: object
      additionalProperties: false
      required: [challenge_id, nonce, expires_at, max_claims, device_id]
      properties:
        challenge_id: {type: string, maxLength: 80}
        nonce: {type: string, contentEncoding: base64}
        expires_at: {type: string, format: date-time}
        max_claims: {type: integer, minimum: 1, maximum: 500}
        device_id: {type: string, format: uuid}
    BatchResult:
      type: object
      additionalProperties: false
      required: [request_id, batch_id, atomic, outcome, claims]
      properties:
        request_id: {type: string, format: uuid}
        batch_id: {type: string, format: uuid}
        atomic: {const: true}
        outcome: {enum: [accepted, accepted_idempotent, rejected, retryable]}
        claims:
          type: array
          maxItems: 500
          items:
            type: object
            additionalProperties: false
            required: [claim_id, outcome]
            properties:
              claim_id: {type: string, format: uuid}
              outcome: {enum: [accepted, accepted_idempotent, rejected_invalid, rejected_replay, rejected_privacy, rejected_unsupported, downgraded, quarantined, retryable]}
              reason_code: {type: [string, 'null']}
    RankEntry:
      type: object
      additionalProperties: false
      required: [account_id, rank, score, evidence_state]
      properties: {account_id: {type: string, format: uuid}, rank: {type: integer, minimum: 1}, score: {type: integer, minimum: 0}, evidence_state: {enum: [standard, hardened]}}
    LeaderboardPage:
      type: object
      additionalProperties: false
      required: [request_id, snapshot_generation, entries]
      properties: {request_id: {type: string, format: uuid}, snapshot_generation: {type: string}, next_cursor: {type: [string, 'null']}, entries: {type: array, items: {$ref: '#/components/schemas/RankEntry'}}}
    Operation:
      type: object
      additionalProperties: false
      required: [request_id, operation_id, state]
      properties: {request_id: {type: string, format: uuid}, operation_id: {type: string, format: uuid}, state: {enum: [accepted, running, completed, failed]}}
    Error:
      type: object
      additionalProperties: false
      required: [request_id, code, message, retryable]
      properties: {request_id: {type: string, format: uuid}, code: {type: string, pattern: '^[A-Z][A-Z0-9_]{2,79}$'}, message: {type: string, maxLength: 300}, retryable: {type: boolean}, details: {type: object, additionalProperties: true}}
