# VibeMaxxing Public API — OpenAPI 3.1 planning contract.
#
# This document is YAML. It was JSON under a `.yaml` name until D-140; the contents
# were converted rather than the path renamed, because `conformance/p1140f/` pins this
# path and is owned elsewhere. Readers parse it with a YAML parser.
#
# Session authentication follows `docs/decisions/ADR-015-SESSION_AUTHENTICATION.md`.
# Ranking figures follow `docs/decisions/ADR-020-CONFIDENCE_WEIGHTED_RANKING.md`.
#
# The operation-to-status-to-reason-code matrix is not written here.
# `packages/schemas/reason-codes-v1.json` holds it, and
# `scripts/repository/validate_planning_artifacts.py` fails when the two disagree.
openapi: 3.1.0
info:
  title: VibeMaxxing Public API
  version: 1.0.0-p1140d
  description: P-1140D planning contract. Implementation remains unauthorized.
servers:
  - url: https://api.vibemaxxing.dev/v1
x-idempotency-contract:
  ledger: packages/schemas/state-machine-registry-v1.json#idempotency-ledger
  key_scope:
    - principal_type
    - principal_id
    - operation_id
    - idempotency_key
  principal: The account the session resolves to and, for a native session, the device enrollment bound to that session. `principal_type` records which of the two a row addresses, because `principal_id` names a row in `accounts` or in `devices` and a foreign key could only point at one of them. Two principals presenting the same key against the same operation hold two independent ledger rows.
  request_digest: 'SHA-256 over the canonical request: the uppercase method, the path with its query in the order the server sorts it, the exact request body bytes, and the principal. The digest decides replay against conflict and is recorded on reservation.'
  response_record: The committed response is recorded in full — status, the ordered response header set this contract publishes, and the exact body bytes — so a replay returns it byte-identically rather than recomputing it. The record is not nullable on a committed row.
  replay_header: Idempotency-Replayed
  executing_recovery: A second request arriving while the row is executing and carrying the same digest waits for the in-flight transaction and then returns the recorded response. An executing row whose transaction did not commit moves to abandoned on lease expiry and the key becomes usable again. An operation that ran and failed in a way that is safe to retry moves to replayable-failure instead, which records that it ran; abandoned records that it did not. Distinguishing the two is what lets a retry be answered without guessing whether the first attempt had an effect.
  conflict:
    ledger_state: conflict
    status: 409
    reason_code: IDEMPOTENCY_KEY_CONFLICT
    condition: The key exists for this principal and operation with a different request digest. The stored response is not returned and the new request is not executed.
  expiry:
    ledger_state: expired
    status: 410
    reason_code: IDEMPOTENCY_RECORD_EXPIRED
    replay_window_hours: 168
    replay_window_column: expires_at
    row_retention_column: retain_until
    row_retention_policy_key: idempotency_record_retention_days
    condition: The key was committed and its record aged past the replay window, so the response bytes no longer exist to replay. The request is not re-executed under the same key.
    two_dates: >-
      PF-020. The replay window and the row's own lifetime are different dates and were
      the same column. D-225 fixes the window at 168 hours; idempotency_record_retention_days
      in packages/schemas/policy-defaults-v1.json governs how long the row survives it,
      default 30 days. While one column bounded both, the only way to stop replaying a
      response was to delete the row, and a deleted key is a fresh key, so the next request
      carrying it was executed as a new mutation rather than refused.
      idempotency_records_retained_past_replay_window requires retain_until to be strictly
      later than expires_at, and idempotency_records_expired_holds_no_response requires an
      expired row to hold no status, no body and no digest, so the refusal outlives the
      answer and the discarded bytes are discarded by constraint rather than by application
      code.
  ambiguous_commit: >-
    The effect, this ledger row, the audit row, the outbox row and the recorded response
    commit in one transaction. If the ledger row committed separately, a crash between the
    two commits would leave the same rows as a crash before either and no retry could
    distinguish them. conformance/p1140e/sql-race-plans-v1.json names the exact rows each of
    the five ambiguous-commit cases leaves behind, and
    docs/architecture/SERVER_API_DATA_AND_RANKING_CONTRACT.md owns the prose.
  finding_state: >-
    SR-012's three persistence defects are repaired. PF-019 keyed the table on the declared
    scope, PF-049 replaced the nullable digest with a recorded status, body and digest, and
    PF-020 split the replay window from the row's retention. Repaired is not closed. No agent
    records a closure verdict, and conformance/p1140f/semantic-findings-v1.json remains the
    only authority for the finding's state.
x-origin-policy:
  contract: packages/schemas/origin-policy-v1.json
  normative_owner: docs/security/ORIGIN_AND_LOOPBACK_CONTROLS.md
  description: 'The origin arm of the ADR-015 requirement that every state-changing request carry either an allowlisted Origin or a session-bound CSRF token. PF-039 landed the token arm as the csrfToken scheme; this block is the other half, expressed where a middleware generator can consume it. Every value here is a projection of packages/schemas/origin-policy-v1.json and scripts/repository/validate_planning_artifacts.py asserts the two are identical field by field, in the same way the reason registry records its own copy of the operation classes and has it derived and compared rather than trusted. The contract file additionally covers the loopback listeners, which are not the public API and have no presence in this document at all.'
  parameter_binding:
    origin_parameter: '#/components/parameters/Origin'
    preflight_response: '#/components/responses/Preflight'
    required_on_security_scheme: csrfToken
    preflight_routing: edge-before-routing
    rule: Every operation whose security includes csrfToken declares the Origin parameter, and no operation that omits csrfToken may declare it. Preflight is answered by the edge before routing rather than by an options operation on every path, because no CORS implementation routes a preflight to an operation.
  wildcard_origin: never
  origin_reflection: never
  subdomain_wildcard: never
  allowed_origins:
    - origin: https://vibemaxxing.dev
      purpose: the hosted web application
      credentials: allowed
      environments: [production, staging, local]
      production_build: included
    - origin: https://www.vibemaxxing.dev
      purpose: canonical redirect target
      credentials: allowed
      environments: [production, staging, local]
      production_build: included
    - origin: http://localhost:3000
      purpose: local development only
      credentials: allowed
      environments: [local]
      production_build: compiled-out
  preflight:
    allow_methods: [GET, POST, DELETE]
    allow_headers: [Content-Type, Idempotency-Key, If-Match]
    expose_headers: [Retry-After, RateLimit, RateLimit-Policy, X-Request-Id]
    allow_credentials: 'true'
    max_age_seconds: 600
    unlisted_origin_response:
      status: 204
      access_control_headers: none
      body: none
  state_changing_checks:
    - order: 1
      check_id: origin-exact-match
      applies_to: cookie-session
      enforced_by: server
      on_failure:
        status: 403
        reason_code: ORIGIN_NOT_ALLOWED
      missing_header: refuse
      rationale: Scheme, host and port must match an allowlist entry exactly. Origin is a header and a request that is not from a browser can set it to anything, which is why it is not sufficient alone against a native attacker.
    - order: 2
      check_id: double-submitted-csrf-token
      applies_to: cookie-session
      enforced_by: server
      on_failure:
        status: 403
        reason_code: CSRF_TOKEN_INVALID
      missing_header: refuse
      rationale: The csrfToken scheme in packages/schemas/openapi-v1.yaml, carried in X-VibeMaxxing-CSRF and compared against the value stored with the session. It is the only one of the three an attacker cannot produce without already reading a response from the allowlisted origin.
    - order: 3
      check_id: samesite-lax-session-cookie
      applies_to: cookie-session
      enforced_by: browser
      on_failure:
        status: 403
        reason_code: null
      missing_header: not-applicable
      rationale: ADR-015 sets SameSite=Lax on the session cookie, which stops a cross-site POST before the request is dispatched. It carries no reason code because a browser that enforces it produces no server response.
  bearer_exemption:
    exempt_checks: [origin-exact-match, double-submitted-csrf-token]
    rationale: A cross-site request cannot attach a bearer credential the attacking page does not hold, so cross-site request forgery does not apply. Native client requests are exempt from these two checks and from nothing else; the native client is not a browser and has no origin at all.
x-public-operations:
  # Every operation carrying `security: []` must appear here with a reason, and
  # scripts/repository/validate_planning_artifacts.py fails on any that does not.
  # Writing `security: []` is not by itself authority to be public: getPublicProfile
  # carried it while its own schema described "what a viewer authorized to read this
  # profile receives", and projection-authorization-v1.json makes directional-block
  # deny-hard and subject-visibility deny-unless-authorized. An unauthenticated caller
  # has no viewer identity, so neither input could be evaluated and a blocked person
  # could read the profile by logging out. It now requires a viewer.
  #
  # Three reason classes, and nothing else is admissible:
  #   auth-bootstrap  — establishes the very session a viewer check would need.
  #   global-board    — the one universally public view AGENTS.md names.
  #   reference-data  — carries no participant, so no viewer is relevant to it.
  #
  # `global-board` was held by `getLeaderboard`, whose path was
  # `/leaderboards/{scope}/{period}` and whose `Scope` enum admitted `global`,
  # `friends`, `rivals` and `board`. The reason named one of those four values and
  # the declaration covered all of them, so `GET /leaderboards/friends/weekly`
  # answered an unauthenticated caller with a viewer-relative standing, and
  # `GET /leaderboards/board/weekly` named no board at all. PF-052 recorded that
  # this operation would lose its `security: []`, landed without doing it, and left
  # the note in place. The global board now has its own path and holds the reason
  # alone; the cohort and board paths require a session.
  startGitHubAuth: auth-bootstrap
  completeGitHubAuth: auth-bootstrap
  startXAuth: auth-bootstrap
  completeXAuth: auth-bootstrap
  startDeviceAuth: auth-bootstrap
  pollDeviceAuth: auth-bootstrap
  exchangeDeviceAuth: auth-bootstrap
  getGlobalLeaderboard: global-board
  listPricingDatasets: reference-data
  getCompatibility: reference-data

paths:
  /auth/github/start:
    post:
      operationId: startGitHubAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '202':
          description: OAuthStart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthStart'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthStartRequest'
  /auth/github/callback:
    get:
      operationId: completeGitHubAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: OAuthCompletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthCompletion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/OAuthCode'
        - $ref: '#/components/parameters/OAuthState'
        - $ref: '#/components/parameters/OAuthIssuer'
  /auth/x/start:
    post:
      operationId: startXAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '202':
          description: OAuthStart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthStart'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthStartRequest'
  /auth/x/callback:
    get:
      operationId: completeXAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: OAuthCompletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthCompletion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/OAuthCode'
        - $ref: '#/components/parameters/OAuthState'
        - $ref: '#/components/parameters/OAuthIssuer'
  /auth/device/start:
    post:
      operationId: startDeviceAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '202':
          description: DeviceAuthorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthorization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAuthStartRequest'
  /auth/device/poll:
    post:
      operationId: pollDeviceAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: DeviceAuthorizationStatus
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthorizationStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAuthPollRequest'
  /auth/device/exchange:
    post:
      operationId: exchangeDeviceAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: NativeSession
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NativeSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAuthExchangeRequest'
  /auth/session/refresh:
    post:
      operationId: refreshSession
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: single-use-refresh-handle
      description: 'Rotate a session family. Refresh is one-time-use: presenting a handle moves the family to rotating, atomically consumes the presented handle and issues a new access and refresh pair in the same transaction with the family generation incremented. A browser presents __Host-vm_refresh and receives replacement cookies; a native client presents the handle in the body together with a device proof from the bound key and receives the replacement access handle in the response. Presenting a handle that was already consumed is a replay: the family moves to replay-detected, every handle in every generation is revoked and the account owner receives a server-inbox security notice. There is no grace window, so a client that loses this response reauthenticates.'
      security:
        - refreshCookie: []
          csrfToken: []
        - deviceProof: []
      responses:
        '200':
          description: RefreshedSession
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshedSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionRefreshRequest'
      parameters:
        - $ref: '#/components/parameters/Origin'
  /sessions:
    get:
      operationId: listSessions
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: SessionPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /sessions/{id}/revoke:
    post:
      operationId: revokeSession
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/IdempotencyKey'
  /sessions/revoke-all:
    post:
      operationId: revokeAllSessions
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      description: 'Revoke every session family on the account, including the calling session. Revocation is immediate: handles are lookups rather than assertions, so the next request on any revoked handle fails.'
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
  /identities:
    get:
      operationId: listIdentities
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: IdentityPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /identities/link:
    post:
      operationId: linkIdentity
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityMutationRequest'
  /identities/unlink:
    post:
      operationId: unlinkIdentity
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityUnlinkRequest'
  /identities/{identity_id}/provider-access-reports:
    post:
      operationId: reportProviderAccess
      summary: Report that a linked provider account is lost or compromised
      description: 'The linked-identity machine declares identity-report-lost and identity-report-compromised with actor `user`, and the API declared no route to either, so the two states the provider-loss contract exists to describe were unreachable by the only actor who can observe them. Recent authentication is deliberately not required: reauthenticating through the provider is exactly what a participant who has lost that provider account cannot do. The report moves the linked identity and nothing else — it revokes no session and quarantines no device, because those are effects of an applied recovery case under D-380 and not of a claim about a provider. Every existing session and the server inbox are notified, and that notice cannot be muted.'
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdentityId'
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderAccessReportRequest'
  /identities/{identity_id}/unlink-cancellations:
    post:
      operationId: cancelIdentityUnlink
      summary: Cancel a pending unlink from a session that still has access
      description: 'The reversal half of unlinkIdentity. `unlinked` is terminal and has no transition out of it, so an unlink that completed in error is unrecoverable; the machine therefore returns unlink-pending to linked, and this is the route. It requires recent authentication for the same reason the unlink request does — the participant is changing which methods can authenticate this account.'
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdentityId'
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
  /invites/redeem:
    post:
      operationId: redeemInvite
      summary: Redeem a private-beta invite code and admit the calling account
      description: 'Admission control for the private beta of D-180. The calling account is already authenticated, because the invite is redeemed after the OAuth exchange rather than before it, and the account-age gate of D-081 and the age floor of D-103 are evaluated ahead of this operation. Success binds the code to exactly one account and is irreversible. A code that is unknown, expired, revoked or already redeemed produces one indistinguishable 422 under INVITE_CODE_NOT_REDEEMABLE, so an attacker enumerating codes learns nothing about which values exist. An invite is admission control and nothing else: it is not proof of humanity and it is not a Sybil control on its own, because under D-100 no provider offers individual-account attestation.'
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      x-rate-limit-class: auth-start
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: InviteRedemption
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteRedemption'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteRedemptionRequest'
  /devices:
    get:
      operationId: listDevices
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: DevicePage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /devices/enroll:
    post:
      operationId: enrollDevice
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: Device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceEnrollRequest'
  /devices/{id}/rotate:
    post:
      operationId: rotateDeviceKey
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceKeyRotationRequest'
  /devices/{id}/revoke:
    post:
      operationId: revokeDevice
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/IdempotencyKey'
  /claim-challenges:
    post:
      operationId: createClaimChallenge
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: server-challenge-uniqueness
      security:
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: ClaimChallenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimChallenge'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimChallengeRequest'
  /claim-batches:
    post:
      operationId: submitClaimBatch
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: ClaimBatchResult
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimBatchResult'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/vibemaxxing-claim-batch+cbor:
            schema:
              type: string
              contentEncoding: base64
              maxLength: 1398104
  /claims/{id}:
    get:
      operationId: getClaim
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: ClaimRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimRecord'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Id'
  /appraisals/{id}:
    get:
      operationId: getAppraisal
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      description: >-
        The verifier appraisal behind one of the caller's own accepted claims,
        returned as a projection and never as the stored record.


        Self-only in every field. `ClaimRecord` is a self-audience shape under
        D-393 and `ClaimRecord.appraisal_id` is classified `self` there, so an
        appraisal identifier is only ever legible to the participant who
        submitted the claim. There is no non-owner audience for any field of
        this response, and no widening of it exists: a caller who is not that
        participant is answered 404 and never 403, because 403 would confirm
        that the appraisal exists and an appraisal binds one-to-one to a claim,
        so a confirmed identifier is a confirmed submission by someone. The 403
        this operation declares is the caller's own `INVITE_REQUIRED` or
        `NATIVE_SESSION_DEVICE_REVOKED` and is never an ownership answer.


        What the subject does see is the effect on their own standing, which
        D-084 requires be told to the sanctioned participant together with the
        appeal route: `acceptance_outcome`, the seven `dimensions`,
        `awarded_profile_id`, `evidence_class`, `ranking_eligibility`,
        `reason_codes`, `validity` and `supersession`. Appealability is read
        from `packages/schemas/reason-codes-v1.json` against the returned
        reason codes. This operation is not the D-084 notice and does not
        create one; the notice is a server-inbox item.


        Two fields of `VerifierAppraisalResult` are withheld from the subject as
        well as from every other viewer, and the projection exists so that the
        narrowing is a schema boundary rather than a per-response redaction.
        `evaluated.anomaly_disposition` carries `under-review` and
        `shadow-only`; disclosing either tells the participant that an integrity
        case is open, which D-381 forbids — the participant reads the effect on
        their standing and is never told a case exists.
        `policy.implementation_sha256` is the server verifier's own build
        digest, which is not the participant's personal data and is not needed
        to understand or appeal the outcome. Neither field appears in any
        response of this document, so their absence is uniform and carries no
        signal.
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: AppraisalSummary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppraisalSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Id'
  /leaderboards/global/{period}:
    get:
      operationId: getGlobalLeaderboard
      description: 'The one universally public view AGENTS.md names. It is a separate path from the viewer-relative scopes rather than one value of a scope enum, because the reason recorded in x-public-operations is `global-board` and a reason that covers one of four values of a parameter is not a reason. Until PF-021 this operation was `GET /leaderboards/{scope}/{period}` with `security: []` and a Scope enum admitting global, friends, rivals and board, so an unauthenticated caller reached a friends or private-board standing by naming it in the path.'
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: LeaderboardPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Period'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/RankingView'
  /leaderboards/{scope}/{period}:
    get:
      operationId: getLeaderboard
      description: The viewer-relative cohort boards. Scope admits friends and rivals only; global has its own public path and a board board has its own path, because a board scope with no board identifier in the request cannot name which board it is.
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: LeaderboardPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Scope'
        - $ref: '#/components/parameters/Period'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/RankingView'
  /boards/{id}/leaderboard/{period}:
    get:
      operationId: getBoardLeaderboard
      description: One board's standing. The board identifier is a required path segment, so the request carries the discriminator the audience half of ranking-view-v1.schema.json requires; the previous scope=board form named no board at all.
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: LeaderboardPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Period'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/RankingView'
  /rank/me:
    get:
      operationId: getCurrentRank
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: SelfRankEntry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SelfRankEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
  /profiles/{handle}:
    get:
      operationId: getPublicProfile
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: PublicProfile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Handle'
  /me:
    get:
      operationId: getMe
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: AccountProfile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: updateMe
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: AccountProfile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProfile'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdateRequest'
  /friends:
    get:
      operationId: listFriends
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: RelationshipPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /friend-requests:
    get:
      operationId: listFriendRequests
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: RelationshipPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createFriendRequest
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipMutationRequest'
  /blocks:
    get:
      operationId: listBlocks
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: RelationshipPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createBlock
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipMutationRequest'
  /rivals:
    get:
      operationId: listRivals
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: RelationshipPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createRival
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipMutationRequest'
  /boards:
    get:
      operationId: listBoards
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: BoardPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createBoard
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: Board
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardCreateRequest'
  /boards/{id}/invitations:
    post:
      operationId: createBoardInvitation
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardInvitationRequest'
  /organizations:
    get:
      operationId: listOrganizations
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: OrganizationPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createOrganization
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamedResourceRequest'
  /communities:
    get:
      operationId: listCommunities
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: CommunityPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createCommunity
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: Community
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Community'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamedResourceRequest'
  /presence:
    get:
      operationId: getPresence
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: PresencePage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresencePage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    put:
      operationId: renewPresence
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: PresenceLease
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceLease'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresenceRenewalRequest'
  /notifications:
    get:
      operationId: listNotifications
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: NotificationPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /notifications/{notification_id}/read:
    post:
      operationId: markNotificationRead
      description: >-
        Mark one inbox item read. This is the only route to the `notification-read`
        transition, and it exists because the server inbox is the notification
        authority: without it the transition had no actor, and a read could only
        have been inferred from a transport signal, which is exactly what
        `notification_deliveries` is forbidden to carry. A second call on an
        already-read item replays the first response rather than moving the read
        time forward.
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: Notification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: notification_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
  /moderation/cases:
    get:
      operationId: listModerationCases
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: ModerationCasePage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationCasePage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createModerationCase
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: ModerationCase
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationCase'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationCaseRequest'
  /appeals:
    get:
      operationId: listAppeals
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: AppealPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppealPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createAppeal
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: Appeal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appeal'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppealRequest'
  /exports:
    post:
      operationId: requestExport
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: ExportJob
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportJob'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
  /deletion-requests:
    post:
      operationId: requestDeletion
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: DeletionJob
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionJob'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletionRequest'
  /consolidations/{consolidation_case_id}:
    get:
      operationId: getConsolidationPlan
      summary: Read the consolidation plan this account is being asked to confirm
      description: 'The `account-consolidation` machine declares consolidation-confirm with actor `user`, authentication `web-session` and recent authentication required, and the API declared no consolidation operation at all — so the participant was required by the lifecycle to perform a transition they had no route to, and a case could leave awaiting-confirmation only by expiring. This is the read half. It publishes the plan and no lifecycle value: there is no state field here, because a value like `applying` is an operational fact, and the participant is being asked about the plan rather than about the case. `plan_digest` is what the confirmation names, so a plan cannot be substituted between being read and being confirmed.'
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: ConsolidationPlanView
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolidationPlanView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/ConsolidationCaseId'
  /consolidations/{consolidation_case_id}/confirmations:
    post:
      operationId: confirmConsolidation
      summary: Confirm the presented consolidation plan under recent authentication
      description: 'The write half, and the only participant-driven transition of the account-consolidation machine. It answers a TransitionReceipt rather than the case, so no lifecycle value is published here either. The request names the digest of the plan that was read; a digest that does not match the current plan is refused, because confirming a plan the participant never saw is the substitution this operation exists to prevent. Confirmation moves the case to applying and nothing else: no total is combined, and the surviving standing is recomputed from claim-level contributions under D-070.'
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/ConsolidationCaseId'
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsolidationConfirmationRequest'
  /pricing-datasets:
    get:
      operationId: listPricingDatasets
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: PricingDatasetPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingDatasetPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /compatibility:
    get:
      operationId: getCompatibility
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: CompatibilityPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatibilityPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: 'Native access handle under ADR-015: 256 bits from a cryptographically secure random source, base64url without padding, carrying no encoded claims and stored server-side as a SHA-256 digest. It is a lookup key into a session record, never a self-contained assertion, because per-session revocation takes effect on the next request. It never satisfies an operation on its own; deviceProof accompanies it.'
    sessionCookie:
      type: apiKey
      in: cookie
      name: __Host-vm_session
      description: Browser access handle. Secure, HttpOnly, SameSite=Lax, Path=/, __Host- prefixed, valid 15 minutes from issue. SameSite=Lax rather than Strict because the OAuth redirect returns by top-level navigation.
    refreshCookie:
      type: apiKey
      in: cookie
      name: __Host-vm_refresh
      description: Browser refresh handle, valid 30 days from issue with the family capped at 90 days absolute from first authentication. It authenticates refreshSession and no other operation.
    csrfToken:
      type: apiKey
      in: header
      name: X-VibeMaxxing-CSRF
      description: Double-submitted token bound to the session record. Every state-changing cookie-authenticated request carries it, because the SameSite attribute is not treated as the whole cross-site defence.
    deviceProof:
      type: apiKey
      in: header
      name: VibeProof-Device-Proof
      description: COSE_Sign1 detached signature from the enrolled Ed25519 device key over the HTTP method, the request path with query, the SHA-256 digest of the body, the session handle digest, a millisecond timestamp and a 128-bit nonce. The server rejects a proof outside a 300-second window, a nonce already seen inside that window, or a signing key that is not the key bound to the session record.
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ConsolidationCaseId:
      name: consolidation_case_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    IdentityId:
      name: identity_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Handle:
      name: handle
      in: path
      required: true
      schema:
        type: string
        minLength: 3
        maxLength: 30
    OAuthCode:
      name: code
      in: query
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 2048
    OAuthState:
      name: state
      in: query
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{64}$
    OAuthIssuer:
      name: iss
      in: query
      required: false
      description: 'The stored provider-capability record is packages/schemas/oauth-provider-registry-v1.json, and rfc9207_iss.capability on the row for this callback''s provider decides what this parameter means. Under `supported` ADR-015 fails closed and an authorization response arriving without an iss is refused, so the parameter is required. Under `unverified`, which is where both launch providers stand because no authorization response from either has been observed, the value is compared when present and never required, and the binding that actually refuses a mix-up is the unique provider-specific callback path. The parameter is declared identically on both callbacks because both rows record the same capability; it was previously declared on one and not the other, which stated a capability difference nothing recorded. The callback value is compared with the immutable transaction issuer and never selects provider configuration.'
      schema:
        type: string
[...]
