# VibeMaxxing Public API — OpenAPI 3.1 planning contract.
#
# This document is YAML. It was JSON under a `.yaml` name until D-140; the contents
# were converted rather than the path renamed, because `conformance/p1140f/` pins this
# path and is owned elsewhere. Readers parse it with a YAML parser.
#
# Session authentication follows `docs/decisions/ADR-015-SESSION_AUTHENTICATION.md`.
# Ranking figures follow `docs/decisions/ADR-020-CONFIDENCE_WEIGHTED_RANKING.md`.
#
# The operation-to-status-to-reason-code matrix is not written here.
# `packages/schemas/reason-codes-v1.json` holds it, and
# `scripts/repository/validate_planning_artifacts.py` fails when the two disagree.
openapi: 3.1.0
info:
  title: VibeMaxxing Public API
  version: 1.0.0-p1140d
  description: P-1140D planning contract. Implementation remains unauthorized.
servers:
  - url: https://api.vibemaxxing.dev/v1
x-idempotency-contract:
  ledger: packages/schemas/state-machine-registry-v1.json#idempotency-ledger
  key_scope:
    - principal_id
    - operation_id
    - idempotency_key
  principal: The account the session resolves to and, for a native session, the device enrollment bound to that session. Two principals presenting the same key against the same operation hold two independent ledger rows.
  request_digest: 'SHA-256 over the canonical request: the uppercase method, the path with its query in the order the server sorts it, the exact request body bytes, and the principal. The digest decides replay against conflict and is recorded on reservation.'
  response_record: The committed response is recorded in full — status, the ordered response header set this contract publishes, and the exact body bytes — so a replay returns it byte-identically rather than recomputing it. The record is not nullable on a committed row.
  replay_header: Idempotency-Replayed
  reserved_recovery: A second request arriving while the row is reserved and carrying the same digest waits for the in-flight transaction and then returns the recorded response. A reserved row whose transaction did not commit moves to failed on lease expiry and the key becomes usable again.
  conflict:
    ledger_state: conflict
    status: 409
    reason_code: IDEMPOTENCY_KEY_CONFLICT
    condition: The key exists for this principal and operation with a different request digest. The stored response is not returned and the new request is not executed.
  expiry:
    ledger_state: expired
    status: 410
    reason_code: IDEMPOTENCY_RECORD_EXPIRED
    retention_hours: 168
    condition: The key was committed and its record aged past the retention window, so the response bytes no longer exist to replay. The request is not re-executed under the same key.
  open_finding: SR-012 stays open. This block is the API half. The persistence half — the nullable response_digest, the missing response-body column and the account-only primary key in packages/schemas/planning-schema.sql — is not repaired here and no closure evidence is recorded.
x-origin-policy:
  contract: packages/schemas/origin-policy-v1.json
  normative_owner: docs/security/ORIGIN_AND_LOOPBACK_CONTROLS.md
  description: 'The origin arm of the ADR-015 requirement that every state-changing request carry either an allowlisted Origin or a session-bound CSRF token. PF-039 landed the token arm as the csrfToken scheme; this block is the other half, expressed where a middleware generator can consume it. Every value here is a projection of packages/schemas/origin-policy-v1.json and scripts/repository/validate_planning_artifacts.py asserts the two are identical field by field, in the same way the reason registry records its own copy of the operation classes and has it derived and compared rather than trusted. The contract file additionally covers the loopback listeners, which are not the public API and have no presence in this document at all.'
  parameter_binding:
    origin_parameter: '#/components/parameters/Origin'
    preflight_response: '#/components/responses/Preflight'
    required_on_security_scheme: csrfToken
    preflight_routing: edge-before-routing
    rule: Every operation whose security includes csrfToken declares the Origin parameter, and no operation that omits csrfToken may declare it. Preflight is answered by the edge before routing rather than by an options operation on every path, because no CORS implementation routes a preflight to an operation.
  wildcard_origin: never
  origin_reflection: never
  subdomain_wildcard: never
  allowed_origins:
    - origin: https://vibemaxxing.dev
      purpose: the hosted web application
      credentials: allowed
      environments: [production, staging, local]
      production_build: included
    - origin: https://www.vibemaxxing.dev
      purpose: canonical redirect target
      credentials: allowed
      environments: [production, staging, local]
      production_build: included
    - origin: http://localhost:3000
      purpose: local development only
      credentials: allowed
      environments: [local]
      production_build: compiled-out
  preflight:
    allow_methods: [GET, POST, DELETE]
    allow_headers: [Content-Type, Idempotency-Key, If-Match]
    expose_headers: [Retry-After, RateLimit, RateLimit-Policy, X-Request-Id]
    allow_credentials: 'true'
    max_age_seconds: 600
    unlisted_origin_response:
      status: 204
      access_control_headers: none
      body: none
  state_changing_checks:
    - order: 1
      check_id: origin-exact-match
      applies_to: cookie-session
      enforced_by: server
      on_failure:
        status: 403
        reason_code: ORIGIN_NOT_ALLOWED
      missing_header: refuse
      rationale: Scheme, host and port must match an allowlist entry exactly. Origin is a header and a request that is not from a browser can set it to anything, which is why it is not sufficient alone against a native attacker.
    - order: 2
      check_id: double-submitted-csrf-token
      applies_to: cookie-session
      enforced_by: server
      on_failure:
        status: 403
        reason_code: CSRF_TOKEN_INVALID
      missing_header: refuse
      rationale: The csrfToken scheme in packages/schemas/openapi-v1.yaml, carried in X-VibeMaxxing-CSRF and compared against the value stored with the session. It is the only one of the three an attacker cannot produce without already reading a response from the allowlisted origin.
    - order: 3
      check_id: samesite-lax-session-cookie
      applies_to: cookie-session
      enforced_by: browser
      on_failure:
        status: 403
        reason_code: null
      missing_header: not-applicable
      rationale: ADR-015 sets SameSite=Lax on the session cookie, which stops a cross-site POST before the request is dispatched. It carries no reason code because a browser that enforces it produces no server response.
  bearer_exemption:
    exempt_checks: [origin-exact-match, double-submitted-csrf-token]
    rationale: A cross-site request cannot attach a bearer credential the attacking page does not hold, so cross-site request forgery does not apply. Native client requests are exempt from these two checks and from nothing else; the native client is not a browser and has no origin at all.
x-public-operations:
  # Every operation carrying `security: []` must appear here with a reason, and
  # scripts/repository/validate_planning_artifacts.py fails on any that does not.
  # Writing `security: []` is not by itself authority to be public: getPublicProfile
  # carried it while its own schema described "what a viewer authorized to read this
  # profile receives", and projection-authorization-v1.json makes directional-block
  # deny-hard and subject-visibility deny-unless-authorized. An unauthenticated caller
  # has no viewer identity, so neither input could be evaluated and a blocked person
  # could read the profile by logging out. It now requires a viewer.
  #
  # Three reason classes, and nothing else is admissible:
  #   auth-bootstrap  — establishes the very session a viewer check would need.
  #   global-board    — the one universally public view AGENTS.md names.
  #   reference-data  — carries no participant, so no viewer is relevant to it.
  startGitHubAuth: auth-bootstrap
  completeGitHubAuth: auth-bootstrap
  startXAuth: auth-bootstrap
  completeXAuth: auth-bootstrap
  startDeviceAuth: auth-bootstrap
  pollDeviceAuth: auth-bootstrap
  exchangeDeviceAuth: auth-bootstrap
  getLeaderboard: global-board
  listPricingDatasets: reference-data
  getCompatibility: reference-data

paths:
  /auth/github/start:
    post:
      operationId: startGitHubAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '202':
          description: OAuthStart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthStart'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthStartRequest'
  /auth/github/callback:
    get:
      operationId: completeGitHubAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: OAuthCompletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthCompletion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/OAuthCode'
        - $ref: '#/components/parameters/OAuthState'
        - $ref: '#/components/parameters/OAuthIssuer'
  /auth/x/start:
    post:
      operationId: startXAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '202':
          description: OAuthStart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthStart'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthStartRequest'
  /auth/x/callback:
    get:
      operationId: completeXAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: OAuthCompletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthCompletion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/OAuthCode'
        - $ref: '#/components/parameters/OAuthState'
  /auth/device/start:
    post:
      operationId: startDeviceAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '202':
          description: DeviceAuthorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthorization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAuthStartRequest'
  /auth/device/poll:
    post:
      operationId: pollDeviceAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: DeviceAuthorizationStatus
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthorizationStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAuthPollRequest'
  /auth/device/exchange:
    post:
      operationId: exchangeDeviceAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: NativeSession
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NativeSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAuthExchangeRequest'
  /auth/session/refresh:
    post:
      operationId: refreshSession
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: single-use-refresh-handle
      description: 'Rotate a session family. Refresh is one-time-use: presenting a handle moves the family to rotating, atomically consumes the presented handle and issues a new access and refresh pair in the same transaction with the family generation incremented. A browser presents __Host-vm_refresh and receives replacement cookies; a native client presents the handle in the body together with a device proof from the bound key and receives the replacement access handle in the response. Presenting a handle that was already consumed is a replay: the family moves to replay-detected, every handle in every generation is revoked and the account owner receives a server-inbox security notice. There is no grace window, so a client that loses this response reauthenticates.'
      security:
        - refreshCookie: []
          csrfToken: []
        - deviceProof: []
      responses:
        '200':
          description: RefreshedSession
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshedSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionRefreshRequest'
      parameters:
        - $ref: '#/components/parameters/Origin'
  /sessions:
    get:
      operationId: listSessions
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: SessionPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /sessions/{id}/revoke:
    post:
      operationId: revokeSession
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/IdempotencyKey'
  /sessions/revoke-all:
    post:
      operationId: revokeAllSessions
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      description: 'Revoke every session family on the account, including the calling session. Revocation is immediate: handles are lookups rather than assertions, so the next request on any revoked handle fails.'
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
  /identities:
    get:
      operationId: listIdentities
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: IdentityPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /identities/link:
    post:
      operationId: linkIdentity
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityMutationRequest'
  /identities/unlink:
    post:
      operationId: unlinkIdentity
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityMutationRequest'
  /invites/redeem:
    post:
      operationId: redeemInvite
      summary: Redeem a private-beta invite code and admit the calling account
      description: 'Admission control for the private beta of D-180. The calling account is already authenticated, because the invite is redeemed after the OAuth exchange rather than before it, and the account-age gate of D-081 and the age floor of D-103 are evaluated ahead of this operation. Success binds the code to exactly one account and is irreversible. A code that is unknown, expired, revoked or already redeemed produces one indistinguishable 422 under INVITE_CODE_NOT_REDEEMABLE, so an attacker enumerating codes learns nothing about which values exist. An invite is admission control and nothing else: it is not proof of humanity and it is not a Sybil control on its own, because under D-100 no provider offers individual-account attestation.'
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      x-rate-limit-class: auth-start
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: InviteRedemption
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteRedemption'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteRedemptionRequest'
  /devices:
    get:
      operationId: listDevices
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: DevicePage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /devices/enroll:
    post:
      operationId: enrollDevice
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: Device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceEnrollRequest'
  /devices/{id}/rotate:
    post:
      operationId: rotateDeviceKey
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceKeyRotationRequest'
  /devices/{id}/revoke:
    post:
      operationId: revokeDevice
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/IdempotencyKey'
  /claim-challenges:
    post:
      operationId: createClaimChallenge
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: server-challenge-uniqueness
      security:
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: ClaimChallenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimChallenge'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimChallengeRequest'
  /claim-batches:
    post:
      operationId: submitClaimBatch
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: ClaimBatchResult
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimBatchResult'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/vibemaxxing-claim-batch+cbor:
            schema:
              type: string
              contentEncoding: base64
              maxLength: 1398104
  /claims/{id}:
    get:
      operationId: getClaim
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: ClaimRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimRecord'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Id'
  /leaderboards/{scope}/{period}:
    get:
      operationId: getLeaderboard
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: LeaderboardPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Scope'
        - $ref: '#/components/parameters/Period'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/RankingView'
  /rank/me:
    get:
      operationId: getCurrentRank
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: SelfRankEntry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SelfRankEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
  /profiles/{handle}:
    get:
      operationId: getPublicProfile
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: PublicProfile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Handle'
  /me:
    get:
      operationId: getMe
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: AccountProfile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: updateMe
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: AccountProfile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProfile'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdateRequest'
  /friends:
    get:
      operationId: listFriends
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: RelationshipPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /friend-requests:
    get:
      operationId: listFriendRequests
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: RelationshipPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createFriendRequest
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipMutationRequest'
  /blocks:
    get:
      operationId: listBlocks
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: RelationshipPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createBlock
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipMutationRequest'
  /rivals:
    get:
      operationId: listRivals
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: RelationshipPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createRival
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipMutationRequest'
  /boards:
    get:
      operationId: listBoards
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: BoardPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createBoard
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: Board
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardCreateRequest'
  /boards/{id}/invitations:
    post:
      operationId: createBoardInvitation
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardInvitationRequest'
  /organizations:
    get:
      operationId: listOrganizations
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: OrganizationPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createOrganization
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamedResourceRequest'
  /communities:
    get:
      operationId: listCommunities
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: CommunityPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createCommunity
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: Community
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Community'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamedResourceRequest'
  /presence:
    get:
      operationId: getPresence
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: PresencePage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresencePage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    put:
      operationId: renewPresence
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: PresenceLease
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceLease'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresenceRenewalRequest'
  /notifications:
    get:
      operationId: listNotifications
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: NotificationPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /notifications/{notification_id}/read:
    post:
      operationId: markNotificationRead
      description: >-
        Mark one inbox item read. This is the only route to the `notification-read`
        transition, and it exists because the server inbox is the notification
        authority: without it the transition had no actor, and a read could only
        have been inferred from a transport signal, which is exactly what
        `notification_deliveries` is forbidden to carry. A second call on an
        already-read item replays the first response rather than moving the read
        time forward.
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: Notification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: notification_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
  /moderation/cases:
    get:
      operationId: listModerationCases
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: ModerationCasePage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationCasePage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createModerationCase
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: ModerationCase
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationCase'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationCaseRequest'
  /appeals:
    get:
      operationId: listAppeals
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: AppealPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppealPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createAppeal
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: Appeal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appeal'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppealRequest'
  /exports:
    post:
      operationId: requestExport
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: ExportJob
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportJob'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
  /deletion-requests:
    post:
      operationId: requestDeletion
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: DeletionJob
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionJob'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Origin'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletionRequest'
  /pricing-datasets:
    get:
      operationId: listPricingDatasets
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: PricingDatasetPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingDatasetPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /compatibility:
    get:
      operationId: getCompatibility
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: CompatibilityPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatibilityPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: 'Native access handle under ADR-015: 256 bits from a cryptographically secure random source, base64url without padding, carrying no encoded claims and stored server-side as a SHA-256 digest. It is a lookup key into a session record, never a self-contained assertion, because per-session revocation takes effect on the next request. It never satisfies an operation on its own; deviceProof accompanies it.'
    sessionCookie:
      type: apiKey
      in: cookie
      name: __Host-vm_session
      description: Browser access handle. Secure, HttpOnly, SameSite=Lax, Path=/, __Host- prefixed, valid 15 minutes from issue. SameSite=Lax rather than Strict because the OAuth redirect returns by top-level navigation.
    refreshCookie:
      type: apiKey
      in: cookie
      name: __Host-vm_refresh
      description: Browser refresh handle, valid 30 days from issue with the family capped at 90 days absolute from first authentication. It authenticates refreshSession and no other operation.
    csrfToken:
      type: apiKey
      in: header
      name: X-VibeMaxxing-CSRF
      description: Double-submitted token bound to the session record. Every state-changing cookie-authenticated request carries it, because the SameSite attribute is not treated as the whole cross-site defence.
    deviceProof:
      type: apiKey
      in: header
      name: VibeProof-Device-Proof
      description: COSE_Sign1 detached signature from the enrolled Ed25519 device key over the HTTP method, the request path with query, the SHA-256 digest of the body, the session handle digest, a millisecond timestamp and a 128-bit nonce. The server rejects a proof outside a 300-second window, a nonce already seen inside that window, or a signing key that is not the key bound to the session record.
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Handle:
      name: handle
      in: path
      required: true
      schema:
        type: string
        minLength: 3
        maxLength: 30
    OAuthCode:
      name: code
      in: query
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 2048
    OAuthState:
      name: state
      in: query
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{64}$
    OAuthIssuer:
      name: iss
      in: query
      required: false
      description: Required only when the stored provider-capability record supports RFC 9207; the callback value is compared with the immutable transaction issuer and never selects provider configuration.
      schema:
        type: string
        format: uri
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Client-generated idempotency key. It is unique per (principal, operationId) rather than per account, so the same key presented against a different operation is a different ledger row. See the x-idempotency-contract block at the document root.
    Origin:
      name: Origin
      in: header
      required: false
      schema:
        type: string
        enum:
          - https://vibemaxxing.dev
          - https://www.vibemaxxing.dev
          - http://localhost:3000
      description: 'Browser-set request origin, matched against the exact allowlist in the x-origin-policy block. Required under the cookie-session security alternative and refused when absent there, because every browser sends Origin on POST and DELETE, so its absence means the request did not come from one; not sent under the bearer alternative, because a native client is not a browser and has no origin. OpenAPI cannot make a parameter required under one security alternative and absent under another, so the parameter is declared optional here and the conditional rule is carried by packages/schemas/origin-policy-v1.json, whose state_changing_checks entry for origin-exact-match records missing_header as refuse. A value outside the enum answers 403 with reason code ORIGIN_NOT_ALLOWED. The third entry is present only in the local build and is compiled out of the production artifact rather than configured off.'
    Scope:
      name: scope
      in: path
      required: true
      schema:
        enum:
          - global
          - friends
          - rivals
          - board
    Period:
      name: period
      in: path
      required: true
      schema:
        enum:
          - daily
          - weekly
          - monthly
          - seasonal
          - yearly
          - lifetime
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
        maxLength: 2048
      description: Opaque forward cursor returned as the cursor field of the previous page. A client never constructs one and never parses one; the server rejects a cursor it did not issue, a cursor issued against a different snapshot_id, and a cursor issued to a different principal.
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
      description: Page size. The default is 50 and the maximum is 200, which is the same bound the items array of every page schema carries.
    RankingView:
      name: ranking_view_id
      in: query
      required: false
      schema:
        type: string
        pattern: ^[0-9a-f]{64}$
  responses:
    Problem:
      description: Stable typed problem envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    Preflight:
      description: 'CORS preflight answer. It is produced by the edge before routing and never by an operation, which is why this component is referenced by the x-origin-policy block rather than by an options entry on every path. An allowlisted origin receives 204 with the six headers below. An origin that is not on the list receives 204 with no Access-Control-* header at all and no body, and the browser blocks the request itself: an error body would tell a probing page whether an origin is known. There is no third response, because a preflight that is refused loudly is a preflight that answers a question the caller was not entitled to ask.'
      headers:
        Access-Control-Allow-Origin:
          required: false
          description: The exact request origin when it is on the allowlist, never a wildcard and never reflected without a match. Absent entirely for an origin that is not on the list.
          schema:
            type: string
            enum:
              - https://vibemaxxing.dev
              - https://www.vibemaxxing.dev
              - http://localhost:3000
        Access-Control-Allow-Methods:
          required: false
          schema:
            type: string
            const: GET, POST, DELETE
        Access-Control-Allow-Headers:
          required: false
          schema:
            type: string
            const: Content-Type, Idempotency-Key, If-Match
        Access-Control-Expose-Headers:
          required: false
          schema:
            type: string
            const: Retry-After, RateLimit, RateLimit-Policy, X-Request-Id
        Access-Control-Allow-Credentials:
          required: false
          schema:
            type: string
            const: 'true'
        Access-Control-Max-Age:
          required: false
          description: Ten minutes is long enough to remove the preflight from an interactive session and short enough that revoking an origin takes effect within a coffee break.
          schema:
            type: integer
            const: 600
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          required: true
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    BadRequest:
      description: The request could not be parsed or a parameter failed its declared shape
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthenticated:
      description: No usable session credential was presented, or the one presented is expired, revoked, replayed, or unaccompanied by a valid device proof
      headers:
        WWW-Authenticate:
          required: true
          schema:
            type: string
            maxLength: 512
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    Forbidden:
      description: The principal is authenticated and is not permitted to perform this operation on this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: No resource is addressed by this path for this principal
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    Conflict:
      description: The request contradicts the current state of the addressed aggregate or of its idempotency ledger row
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    Gone:
      description: The idempotency record for this key aged past its retention window and its recorded response no longer exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    UnsupportedMediaType:
      description: The request body media type is not one this operation accepts
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    UnprocessableContent:
      description: The request parsed and was rejected on its meaning rather than its shape
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    Problem:
      type: object
      additionalProperties: false
      required:
        - type
        - title
        - status
        - reason_code
        - retryable
        - details
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
          maxLength: 120
        status:
          type: integer
          minimum: 400
          maximum: 599
        reason_code:
          type: string
          pattern: ^[A-Z][A-Z0-9_]{2,63}$
        retryable:
          type: boolean
        details:
          type: array
          maxItems: 16
          items:
            type: object
            additionalProperties: false
            required:
              - field
              - issue
            properties:
              field:
                type: string
                maxLength: 120
              issue:
                enum:
                  - invalid
                  - missing
                  - conflict
                  - expired
                  - forbidden
                  - too_large
    TransitionReceipt:
      type: object
      additionalProperties: false
      required:
        - transition_id
        - state
        - revision
        - committed_at
      properties:
        transition_id:
          type: string
          format: uuid
        state:
          type: string
          minLength: 1
          maxLength: 64
        revision:
          type: integer
          minimum: 1
        committed_at:
          type: string
          format: date-time
    InviteRedemptionRequest:
      type: object
      additionalProperties: false
      required:
        - invite_code
      properties:
        invite_code:
          type: string
          minLength: 25
          maxLength: 29
          pattern: ^[0-9A-Za-z]{5}(?:-?[0-9A-Za-z]{5}){4}$
          description: 'A private-beta invite code: 125 bits from a cryptographically secure random source, encoded in Crockford base 32 as 25 characters and displayed in five groups of five. The server normalises before hashing — uppercase, hyphens and whitespace removed, and the Crockford confusable folding that maps I and L to 1 and O to 0 — so a transcription error in those characters is accepted rather than refused. The generating alphabet excludes I, L, O and U, so the folding costs no entropy.'
    InviteRedemption:
      type: object
      additionalProperties: false
      required:
        - redeemed_at
        - revision
      properties:
        redeemed_at:
          type: string
          format: date-time
          description: When the redemption row committed. A byte-identical replay under the same idempotency key returns the original instant rather than the replay instant.
        revision:
          type: integer
          minimum: 1
          description: Revision of the invite-code aggregate after the redemption committed.
      description: The response deliberately carries no invite identifier, no issuer identifier and no invite-code lifecycle state. Under D-284 the issuer is not disclosed to the invitee, so nothing here names the person who issued the code.
    OAuthStartRequest:
      type: object
      additionalProperties: false
      required:
        - intended_action
      properties:
        intended_action:
          enum:
            - sign_in
            - link_identity
    OAuthStart:
      type: object
      additionalProperties: false
      required:
        - transaction_id
        - authorization_url
        - expires_at
      properties:
        transaction_id:
          type: string
          format: uuid
        authorization_url:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time
    OAuthCompletion:
      type: object
      additionalProperties: false
      required:
        - transaction_id
        - account_id
        - session_id
        - state
      properties:
        transaction_id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        session_id:
          type: string
          format: uuid
        state:
          enum:
            - consumed
    DeviceAuthStartRequest:
      type: object
      additionalProperties: false
      required:
        - installation_id
        - device_name
        - profile_id
      properties:
        installation_id:
          type: string
          format: uuid
        device_name:
          type: string
          minLength: 1
          maxLength: 80
        profile_id:
          type: string
          pattern: ^[a-z0-9]+(?:[.-][a-z0-9]+)*$
          description: Must resolve to a registered limited-input or headless interactive profile. Desktop and CI profiles are rejected.
    DeviceAuthorization:
      type: object
      additionalProperties: false
      required:
        - device_code
        - user_code
        - verification_uri
        - expires_at
        - poll_interval_seconds
      properties:
        device_code:
          type: string
          pattern: ^[0-9a-f]{64}$
        user_code:
          type: string
          pattern: ^[A-Z0-9]{8}$
        verification_uri:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time
        poll_interval_seconds:
          type: integer
          minimum: 5
          maximum: 60
    DeviceAuthPollRequest:
      type: object
      additionalProperties: false
      required:
        - device_code
      properties:
        device_code:
          type: string
          pattern: ^[0-9a-f]{64}$
    DeviceAuthorizationStatus:
      type: object
      additionalProperties: false
      required:
        - state
        - retry_after_seconds
      properties:
        state:
          enum:
            - pending
            - approved
            - denied
            - expired
            - consumed
        retry_after_seconds:
          type: integer
          minimum: 0
          maximum: 60
    DeviceAuthExchangeRequest:
      type: object
      additionalProperties: false
      required:
        - device_code
        - device_proof
      properties:
        device_code:
          type: string
          pattern: ^[0-9a-f]{64}$
        device_proof:
          type: string
          minLength: 40
          maxLength: 4096
    NativeSession:
      type: object
      additionalProperties: false
      required:
        - session_id
        - token_type
        - access_token
        - expires_at
        - device_key_thumbprint
      properties:
        session_id:
          type: string
          format: uuid
        token_type:
          enum:
            - Device-Bound
        access_token:
          type: string
          minLength: 32
          maxLength: 4096
        expires_at:
          type: string
          format: date-time
        device_key_thumbprint:
          type: string
          pattern: ^[0-9a-f]{64}$
    Session:
      type: object
      additionalProperties: false
      required:
        - session_id
        - kind
        - state
        - created_at
        - expires_at
        - current
        - family_generation
        - family_reason_code
      properties:
        session_id:
          type: string
          format: uuid
        kind:
          enum:
            - web
            - native
        state:
          enum:
            - active
            - revoked
            - expired
            - rotated
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        current:
          type: boolean
        family_reason_code:
          type:
            - string
            - 'null'
          pattern: ^[A-Z][A-Z0-9_]{2,63}$
          description: The reason code from packages/schemas/reason-codes-v1.json that ended this session family, or null while the family is live. WEB_SESSION_REPLAY_DETECTED, NATIVE_SESSION_REPLAY_DETECTED and NATIVE_SESSION_DEVICE_REVOKED carry the family outcomes that the member-level state enum does not name.
        family_generation:
          type: integer
          minimum: 1
          description: Generation counter of the session family, incremented by every rotation.
    SessionPage:
      type: object
      additionalProperties: false
      required:
        - items
        - cursor
        - snapshot_id
        - revision
      properties:
        items:
          type: array
          maxItems: 200
          items:
            $ref: '#/components/schemas/Session'
        cursor:
          type:
            - string
            - 'null'
          maxLength: 2048
        snapshot_id:
          type: string
          format: uuid
        revision:
          type: integer
          minimum: 0
    Identity:
      type: object
      additionalProperties: false
      required:
        - identity_id
        - provider
        - subject
        - state
        - linked_at
      properties:
        identity_id:
          type: string
          format: uuid
        provider:
          enum:
            - github
            - x
        subject:
          type: string
          pattern: ^[0-9a-f]{64}$
        state:
          enum:
            - linked
            - unlink-pending
            - unlinked
        linked_at:
          type: string
          format: date-time
    IdentityPage:
      type: object
      additionalProperties: false
      required:
        - items
        - cursor
        - snapshot_id
        - revision
      properties:
        items:
          type: array
          maxItems: 200
          items:
            $ref: '#/components/schemas/Identity'
        cursor:
          type:
            - string
            - 'null'
          maxLength: 2048
        snapshot_id:
          type: string
          format: uuid
        revision:
          type: integer
          minimum: 0
    IdentityMutationRequest:
      type: object
      additionalProperties: false
      required:
        - provider
        - authorization_code
      properties:
        provider:
          enum:
            - github
            - x
        authorization_code:
          type: string
          minLength: 8
          maxLength: 2048
    Device:
      type: object
      additionalProperties: false
      required:
        - device_id
        - lineage_id
        - platform_profile_id
        - state
        - key_id
      properties:
        device_id:
          type: string
          format: uuid
        lineage_id:
          type: string
          format: uuid
        platform_profile_id:
          type: string
          minLength: 1
          maxLength: 256
        state:
          enum:
            - pending
            - active
            - quarantined
            - revoked
            - deleted
        key_id:
          type: string
          pattern: ^[0-9a-f]{64}$
    DevicePage:
      type: object
      additionalProperties: false
      required:
        - items
        - cursor
        - snapshot_id
        - revision
      properties:
        items:
          type: array
          maxItems: 200
          items:
            $ref: '#/components/schemas/Device'
        cursor:
          type:
            - string
            - 'null'
          maxLength: 2048
        snapshot_id:
          type: string
          format: uuid
        revision:
          type: integer
          minimum: 0
    DeviceEnrollRequest:
      type: object
      additionalProperties: false
      required:
        - installation_id
        - lineage_id
        - platform_profile_id
        - public_key
      properties:
        installation_id:
          type: string
          format: uuid
        lineage_id:
          type: string
          format: uuid
        platform_profile_id:
          type: string
          minLength: 1
          maxLength: 256
        public_key:
          type: string
          contentEncoding: base64
          maxLength: 128
    DeviceKeyRotationRequest:
      type: object
      additionalProperties: false
      required:
        - previous_key_id
        - new_public_key
        - continuity_signature
      properties:
        previous_key_id:
          type: string
          pattern: ^[0-9a-f]{64}$
        new_public_key:
          type: string
          contentEncoding: base64
[...]
