# VibeMaxxing Public API — OpenAPI 3.1 planning contract.
#
# This document is YAML. It was JSON under a `.yaml` name until D-140; the contents
# were converted rather than the path renamed, because `conformance/p1140f/` pins this
# path and is owned elsewhere. Readers parse it with a YAML parser.
#
# Session authentication follows `docs/decisions/ADR-015-SESSION_AUTHENTICATION.md`.
# Ranking figures follow `docs/decisions/ADR-020-CONFIDENCE_WEIGHTED_RANKING.md`.
#
# The operation-to-status-to-reason-code matrix is not written here.
# `packages/schemas/reason-codes-v1.json` holds it, and
# `scripts/repository/validate_planning_artifacts.py` fails when the two disagree.
openapi: 3.1.0
info:
  title: VibeMaxxing Public API
  version: 1.0.0-p1140d
  description: P-1140D planning contract. Implementation remains unauthorized.
servers:
  - url: https://api.vibemaxxing.dev/v1
x-idempotency-contract:
  ledger: packages/schemas/state-machine-registry-v1.json#idempotency-ledger
  key_scope:
    - principal_id
    - operation_id
    - idempotency_key
  principal: The account the session resolves to and, for a native session, the device enrollment bound to that session. Two principals presenting the same key against the same operation hold two independent ledger rows.
  request_digest: 'SHA-256 over the canonical request: the uppercase method, the path with its query in the order the server sorts it, the exact request body bytes, and the principal. The digest decides replay against conflict and is recorded on reservation.'
  response_record: The committed response is recorded in full — status, the ordered response header set this contract publishes, and the exact body bytes — so a replay returns it byte-identically rather than recomputing it. The record is not nullable on a committed row.
  replay_header: Idempotency-Replayed
  reserved_recovery: A second request arriving while the row is reserved and carrying the same digest waits for the in-flight transaction and then returns the recorded response. A reserved row whose transaction did not commit moves to failed on lease expiry and the key becomes usable again.
  conflict:
    ledger_state: conflict
    status: 409
    reason_code: IDEMPOTENCY_KEY_CONFLICT
    condition: The key exists for this principal and operation with a different request digest. The stored response is not returned and the new request is not executed.
  expiry:
    ledger_state: expired
    status: 410
    reason_code: IDEMPOTENCY_RECORD_EXPIRED
    retention_hours: 168
    condition: The key was committed and its record aged past the retention window, so the response bytes no longer exist to replay. The request is not re-executed under the same key.
  open_finding: SR-012 stays open. This block is the API half. The persistence half — the nullable response_digest, the missing response-body column and the account-only primary key in packages/schemas/planning-schema.sql — is not repaired here and no closure evidence is recorded.
paths:
  /auth/github/start:
    post:
      operationId: startGitHubAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '202':
          description: OAuthStart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthStart'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthStartRequest'
  /auth/github/callback:
    get:
      operationId: completeGitHubAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: OAuthCompletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthCompletion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/OAuthCode'
        - $ref: '#/components/parameters/OAuthState'
        - $ref: '#/components/parameters/OAuthIssuer'
  /auth/x/start:
    post:
      operationId: startXAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '202':
          description: OAuthStart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthStart'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthStartRequest'
  /auth/x/callback:
    get:
      operationId: completeXAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: OAuthCompletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthCompletion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/OAuthCode'
        - $ref: '#/components/parameters/OAuthState'
  /auth/device/start:
    post:
      operationId: startDeviceAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '202':
          description: DeviceAuthorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthorization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAuthStartRequest'
  /auth/device/poll:
    post:
      operationId: pollDeviceAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: DeviceAuthorizationStatus
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthorizationStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAuthPollRequest'
  /auth/device/exchange:
    post:
      operationId: exchangeDeviceAuth
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: NativeSession
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NativeSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAuthExchangeRequest'
  /auth/session/refresh:
    post:
      operationId: refreshSession
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: single-use-refresh-handle
      description: 'Rotate a session family. Refresh is one-time-use: presenting a handle moves the family to rotating, atomically consumes the presented handle and issues a new access and refresh pair in the same transaction with the family generation incremented. A browser presents __Host-vm_refresh and receives replacement cookies; a native client presents the handle in the body together with a device proof from the bound key and receives the replacement access handle in the response. Presenting a handle that was already consumed is a replay: the family moves to replay-detected, every handle in every generation is revoked and the account owner receives a server-inbox security notice. There is no grace window, so a client that loses this response reauthenticates.'
      security:
        - refreshCookie: []
          csrfToken: []
        - deviceProof: []
      responses:
        '200':
          description: RefreshedSession
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshedSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionRefreshRequest'
  /sessions:
    get:
      operationId: listSessions
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: SessionPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /sessions/{id}/revoke:
    post:
      operationId: revokeSession
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/IdempotencyKey'
  /sessions/revoke-all:
    post:
      operationId: revokeAllSessions
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      description: 'Revoke every session family on the account, including the calling session. Revocation is immediate: handles are lookups rather than assertions, so the next request on any revoked handle fails.'
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
  /identities:
    get:
      operationId: listIdentities
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: IdentityPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /identities/link:
    post:
      operationId: linkIdentity
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityMutationRequest'
  /identities/unlink:
    post:
      operationId: unlinkIdentity
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityMutationRequest'
  /invites/redeem:
    post:
      operationId: redeemInvite
      summary: Redeem a private-beta invite code and admit the calling account
      description: 'Admission control for the private beta of D-180. The calling account is already authenticated, because the invite is redeemed after the OAuth exchange rather than before it, and the account-age gate of D-081 and the age floor of D-103 are evaluated ahead of this operation. Success binds the code to exactly one account and is irreversible. A code that is unknown, expired, revoked or already redeemed produces one indistinguishable 422 under INVITE_CODE_NOT_REDEEMABLE, so an attacker enumerating codes learns nothing about which values exist. An invite is admission control and nothing else: it is not proof of humanity and it is not a Sybil control on its own, because under D-100 no provider offers individual-account attestation.'
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      x-rate-limit-class: auth-start
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: InviteRedemption
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteRedemption'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteRedemptionRequest'
  /devices:
    get:
      operationId: listDevices
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: DevicePage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /devices/enroll:
    post:
      operationId: enrollDevice
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: Device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceEnrollRequest'
  /devices/{id}/rotate:
    post:
      operationId: rotateDeviceKey
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceKeyRotationRequest'
  /devices/{id}/revoke:
    post:
      operationId: revokeDevice
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/IdempotencyKey'
  /claim-challenges:
    post:
      operationId: createClaimChallenge
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: server-challenge-uniqueness
      security:
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: ClaimChallenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimChallenge'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimChallengeRequest'
  /claim-batches:
    post:
      operationId: submitClaimBatch
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: ClaimBatchResult
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimBatchResult'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/vibemaxxing-claim-batch+cbor:
            schema:
              type: string
              contentEncoding: base64
              maxLength: 1398104
  /claims/{id}:
    get:
      operationId: getClaim
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: ClaimRecord
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimRecord'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Id'
  /leaderboards/{scope}/{period}:
    get:
      operationId: getLeaderboard
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: LeaderboardPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Scope'
        - $ref: '#/components/parameters/Period'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/RankingView'
  /rank/me:
    get:
      operationId: getCurrentRank
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: SelfRankEntry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SelfRankEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
  /profiles/{handle}:
    get:
      operationId: getPublicProfile
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: PublicProfile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Handle'
  /me:
    get:
      operationId: getMe
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: AccountProfile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: updateMe
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: AccountProfile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProfile'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdateRequest'
  /friends:
    get:
      operationId: listFriends
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: RelationshipPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /friend-requests:
    get:
      operationId: listFriendRequests
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: RelationshipPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createFriendRequest
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipMutationRequest'
  /blocks:
    get:
      operationId: listBlocks
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: RelationshipPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createBlock
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipMutationRequest'
  /rivals:
    get:
      operationId: listRivals
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: RelationshipPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createRival
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipMutationRequest'
  /boards:
    get:
      operationId: listBoards
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: BoardPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createBoard
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: Board
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardCreateRequest'
  /boards/{id}/invitations:
    post:
      operationId: createBoardInvitation
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: TransitionReceipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionReceipt'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardInvitationRequest'
  /organizations:
    get:
      operationId: listOrganizations
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: OrganizationPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createOrganization
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamedResourceRequest'
  /communities:
    get:
      operationId: listCommunities
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: CommunityPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createCommunity
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: Community
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Community'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamedResourceRequest'
  /presence:
    get:
      operationId: getPresence
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: PresencePage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresencePage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    put:
      operationId: renewPresence
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: PresenceLease
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceLease'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresenceRenewalRequest'
  /notifications:
    get:
      operationId: listNotifications
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: NotificationPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /moderation/cases:
    get:
      operationId: listModerationCases
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: ModerationCasePage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationCasePage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createModerationCase
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: ModerationCase
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationCase'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationCaseRequest'
  /appeals:
    get:
      operationId: listAppeals
      x-authorization: authenticated-account
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security:
        - sessionCookie: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '200':
          description: AppealPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppealPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
    post:
      operationId: createAppeal
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '201':
          description: Appeal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appeal'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppealRequest'
  /exports:
    post:
      operationId: requestExport
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: ExportJob
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportJob'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
  /deletion-requests:
    post:
      operationId: requestDeletion
      x-authorization: authenticated-account
      x-recent-auth: required
      x-idempotency: required-durable-request-hash
      security:
        - sessionCookie: []
          csrfToken: []
        - bearerAuth: []
          deviceProof: []
      responses:
        '202':
          description: DeletionJob
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionJob'
          headers:
            Idempotency-Replayed:
              required: false
              description: Present and true when this response was replayed byte-identically from the idempotency ledger rather than produced by executing the request.
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletionRequest'
  /pricing-datasets:
    get:
      operationId: listPricingDatasets
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: PricingDatasetPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingDatasetPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
  /compatibility:
    get:
      operationId: getCompatibility
      x-authorization: public
      x-recent-auth: not-required
      x-idempotency: not-applicable
      security: []
      responses:
        '200':
          description: CompatibilityPage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatibilityPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/Problem'
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: 'Native access handle under ADR-015: 256 bits from a cryptographically secure random source, base64url without padding, carrying no encoded claims and stored server-side as a SHA-256 digest. It is a lookup key into a session record, never a self-contained assertion, because per-session revocation takes effect on the next request. It never satisfies an operation on its own; deviceProof accompanies it.'
    sessionCookie:
      type: apiKey
      in: cookie
      name: __Host-vm_session
      description: Browser access handle. Secure, HttpOnly, SameSite=Lax, Path=/, __Host- prefixed, valid 15 minutes from issue. SameSite=Lax rather than Strict because the OAuth redirect returns by top-level navigation.
    refreshCookie:
      type: apiKey
      in: cookie
      name: __Host-vm_refresh
      description: Browser refresh handle, valid 30 days from issue with the family capped at 90 days absolute from first authentication. It authenticates refreshSession and no other operation.
    csrfToken:
      type: apiKey
      in: header
      name: X-VibeMaxxing-CSRF
      description: Double-submitted token bound to the session record. Every state-changing cookie-authenticated request carries it, because the SameSite attribute is not treated as the whole cross-site defence.
    deviceProof:
      type: apiKey
      in: header
      name: VibeProof-Device-Proof
      description: COSE_Sign1 detached signature from the enrolled Ed25519 device key over the HTTP method, the request path with query, the SHA-256 digest of the body, the session handle digest, a millisecond timestamp and a 128-bit nonce. The server rejects a proof outside a 300-second window, a nonce already seen inside that window, or a signing key that is not the key bound to the session record.
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Handle:
      name: handle
      in: path
      required: true
      schema:
        type: string
        minLength: 3
        maxLength: 30
    OAuthCode:
      name: code
      in: query
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 2048
    OAuthState:
      name: state
      in: query
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{64}$
    OAuthIssuer:
      name: iss
      in: query
      required: false
      description: Required only when the stored provider-capability record supports RFC 9207; the callback value is compared with the immutable transaction issuer and never selects provider configuration.
      schema:
        type: string
        format: uri
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Client-generated idempotency key. It is unique per (principal, operationId) rather than per account, so the same key presented against a different operation is a different ledger row. See the x-idempotency-contract block at the document root.
    Scope:
      name: scope
      in: path
      required: true
      schema:
        enum:
          - global
          - friends
          - rivals
          - board
    Period:
      name: period
      in: path
      required: true
      schema:
        enum:
          - daily
          - weekly
          - monthly
          - seasonal
          - yearly
          - lifetime
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
        maxLength: 2048
      description: Opaque forward cursor returned as the cursor field of the previous page. A client never constructs one and never parses one; the server rejects a cursor it did not issue, a cursor issued against a different snapshot_id, and a cursor issued to a different principal.
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
      description: Page size. The default is 50 and the maximum is 200, which is the same bound the items array of every page schema carries.
    RankingView:
      name: ranking_view_id
      in: query
      required: false
      schema:
        type: string
        pattern: ^[0-9a-f]{64}$
  responses:
    Problem:
      description: Stable typed problem envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          required: true
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    BadRequest:
      description: The request could not be parsed or a parameter failed its declared shape
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthenticated:
      description: No usable session credential was presented, or the one presented is expired, revoked, replayed, or unaccompanied by a valid device proof
      headers:
        WWW-Authenticate:
          required: true
          schema:
            type: string
            maxLength: 512
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    Forbidden:
      description: The principal is authenticated and is not permitted to perform this operation on this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: No resource is addressed by this path for this principal
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    Conflict:
      description: The request contradicts the current state of the addressed aggregate or of its idempotency ledger row
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    Gone:
      description: The idempotency record for this key aged past its retention window and its recorded response no longer exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    UnsupportedMediaType:
      description: The request body media type is not one this operation accepts
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    UnprocessableContent:
      description: The request parsed and was rejected on its meaning rather than its shape
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    Problem:
      type: object
      additionalProperties: false
      required:
        - type
        - title
        - status
        - reason_code
        - retryable
        - details
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
          maxLength: 120
        status:
          type: integer
          minimum: 400
          maximum: 599
        reason_code:
          type: string
          pattern: ^[A-Z][A-Z0-9_]{2,63}$
        retryable:
          type: boolean
        details:
          type: array
          maxItems: 16
          items:
            type: object
            additionalProperties: false
            required:
              - field
              - issue
            properties:
              field:
                type: string
                maxLength: 120
              issue:
                enum:
                  - invalid
                  - missing
                  - conflict
                  - expired
                  - forbidden
                  - too_large
    TransitionReceipt:
      type: object
      additionalProperties: false
      required:
        - transition_id
        - state
        - revision
        - committed_at
      properties:
        transition_id:
          type: string
          format: uuid
        state:
          type: string
          minLength: 1
          maxLength: 64
        revision:
          type: integer
          minimum: 1
        committed_at:
          type: string
          format: date-time
    InviteRedemptionRequest:
      type: object
      additionalProperties: false
      required:
        - invite_code
      properties:
        invite_code:
          type: string
          minLength: 25
          maxLength: 29
          pattern: ^[0-9A-Za-z]{5}(?:-?[0-9A-Za-z]{5}){4}$
          description: 'A private-beta invite code: 125 bits from a cryptographically secure random source, encoded in Crockford base 32 as 25 characters and displayed in five groups of five. The server normalises before hashing — uppercase, hyphens and whitespace removed, and the Crockford confusable folding that maps I and L to 1 and O to 0 — so a transcription error in those characters is accepted rather than refused. The generating alphabet excludes I, L, O and U, so the folding costs no entropy.'
    InviteRedemption:
      type: object
      additionalProperties: false
      required:
        - redeemed_at
        - revision
      properties:
        redeemed_at:
          type: string
          format: date-time
          description: When the redemption row committed. A byte-identical replay under the same idempotency key returns the original instant rather than the replay instant.
        revision:
          type: integer
          minimum: 1
          description: Revision of the invite-code aggregate after the redemption committed.
      description: The response deliberately carries no invite identifier, no issuer identifier and no invite-code lifecycle state. Under D-284 the issuer is not disclosed to the invitee, so nothing here names the person who issued the code.
    OAuthStartRequest:
      type: object
      additionalProperties: false
      required:
        - intended_action
      properties:
        intended_action:
          enum:
            - sign_in
            - link_identity
    OAuthStart:
      type: object
      additionalProperties: false
      required:
        - transaction_id
        - authorization_url
        - expires_at
      properties:
        transaction_id:
          type: string
          format: uuid
        authorization_url:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time
    OAuthCompletion:
      type: object
      additionalProperties: false
      required:
        - transaction_id
        - account_id
        - session_id
        - state
      properties:
        transaction_id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        session_id:
          type: string
          format: uuid
        state:
          enum:
            - consumed
    DeviceAuthStartRequest:
      type: object
      additionalProperties: false
      required:
        - installation_id
        - device_name
        - profile_id
      properties:
        installation_id:
          type: string
          format: uuid
        device_name:
          type: string
          minLength: 1
          maxLength: 80
        profile_id:
          type: string
          pattern: ^[a-z0-9]+(?:[.-][a-z0-9]+)*$
          description: Must resolve to a registered limited-input or headless interactive profile. Desktop and CI profiles are rejected.
    DeviceAuthorization:
      type: object
      additionalProperties: false
      required:
        - device_code
        - user_code
        - verification_uri
        - expires_at
        - poll_interval_seconds
      properties:
        device_code:
          type: string
          pattern: ^[0-9a-f]{64}$
        user_code:
          type: string
          pattern: ^[A-Z0-9]{8}$
        verification_uri:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time
        poll_interval_seconds:
          type: integer
          minimum: 5
          maximum: 60
    DeviceAuthPollRequest:
      type: object
      additionalProperties: false
      required:
        - device_code
      properties:
        device_code:
          type: string
          pattern: ^[0-9a-f]{64}$
    DeviceAuthorizationStatus:
      type: object
      additionalProperties: false
      required:
        - state
        - retry_after_seconds
      properties:
        state:
          enum:
            - pending
            - approved
            - denied
            - expired
            - consumed
        retry_after_seconds:
          type: integer
          minimum: 0
          maximum: 60
    DeviceAuthExchangeRequest:
      type: object
      additionalProperties: false
      required:
        - device_code
        - device_proof
      properties:
        device_code:
          type: string
          pattern: ^[0-9a-f]{64}$
        device_proof:
          type: string
          minLength: 40
          maxLength: 4096
    NativeSession:
      type: object
      additionalProperties: false
      required:
        - session_id
        - token_type
        - access_token
        - expires_at
        - device_key_thumbprint
      properties:
        session_id:
          type: string
          format: uuid
        token_type:
          enum:
            - Device-Bound
        access_token:
          type: string
          minLength: 32
          maxLength: 4096
        expires_at:
          type: string
          format: date-time
        device_key_thumbprint:
          type: string
          pattern: ^[0-9a-f]{64}$
    Session:
      type: object
      additionalProperties: false
      required:
        - session_id
        - kind
        - state
        - created_at
        - expires_at
        - current
        - family_generation
        - family_reason_code
      properties:
        session_id:
          type: string
          format: uuid
        kind:
          enum:
            - web
            - native
        state:
          enum:
            - active
            - revoked
            - expired
            - rotated
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        current:
          type: boolean
        family_reason_code:
          type:
            - string
            - 'null'
          pattern: ^[A-Z][A-Z0-9_]{2,63}$
          description: The reason code from packages/schemas/reason-codes-v1.json that ended this session family, or null while the family is live. WEB_SESSION_REPLAY_DETECTED, NATIVE_SESSION_REPLAY_DETECTED and NATIVE_SESSION_DEVICE_REVOKED carry the family outcomes that the member-level state enum does not name.
        family_generation:
          type: integer
          minimum: 1
          description: Generation counter of the session family, incremented by every rotation.
    SessionPage:
      type: object
      additionalProperties: false
      required:
        - items
        - cursor
        - snapshot_id
        - revision
      properties:
        items:
          type: array
          maxItems: 200
          items:
            $ref: '#/components/schemas/Session'
        cursor:
          type:
            - string
            - 'null'
          maxLength: 2048
        snapshot_id:
          type: string
          format: uuid
        revision:
          type: integer
          minimum: 0
    Identity:
      type: object
      additionalProperties: false
      required:
        - identity_id
        - provider
        - subject
        - state
        - linked_at
      properties:
        identity_id:
          type: string
          format: uuid
        provider:
          enum:
            - github
            - x
        subject:
          type: string
          pattern: ^[0-9a-f]{64}$
        state:
          enum:
            - linked
            - unlink-pending
            - unlinked
        linked_at:
          type: string
          format: date-time
    IdentityPage:
      type: object
      additionalProperties: false
      required:
        - items
        - cursor
        - snapshot_id
        - revision
      properties:
        items:
          type: array
          maxItems: 200
          items:
            $ref: '#/components/schemas/Identity'
        cursor:
          type:
            - string
            - 'null'
          maxLength: 2048
        snapshot_id:
          type: string
          format: uuid
        revision:
          type: integer
          minimum: 0
    IdentityMutationRequest:
      type: object
      additionalProperties: false
      required:
        - provider
        - authorization_code
      properties:
        provider:
          enum:
            - github
            - x
        authorization_code:
          type: string
          minLength: 8
          maxLength: 2048
    Device:
      type: object
      additionalProperties: false
      required:
        - device_id
        - lineage_id
        - platform_profile_id
        - state
        - key_id
      properties:
        device_id:
          type: string
          format: uuid
        lineage_id:
          type: string
          format: uuid
        platform_profile_id:
          type: string
          minLength: 1
          maxLength: 256
        state:
          enum:
            - pending
            - active
            - quarantined
            - revoked
            - deleted
        key_id:
          type: string
          pattern: ^[0-9a-f]{64}$
    DevicePage:
      type: object
      additionalProperties: false
      required:
        - items
        - cursor
        - snapshot_id
        - revision
      properties:
        items:
          type: array
          maxItems: 200
          items:
            $ref: '#/components/schemas/Device'
        cursor:
          type:
            - string
            - 'null'
          maxLength: 2048
        snapshot_id:
          type: string
          format: uuid
        revision:
          type: integer
          minimum: 0
    DeviceEnrollRequest:
      type: object
      additionalProperties: false
      required:
        - installation_id
        - lineage_id
        - platform_profile_id
        - public_key
      properties:
        installation_id:
          type: string
          format: uuid
        lineage_id:
          type: string
          format: uuid
        platform_profile_id:
          type: string
          minLength: 1
          maxLength: 256
        public_key:
          type: string
          contentEncoding: base64
          maxLength: 128
    DeviceKeyRotationRequest:
      type: object
      additionalProperties: false
      required:
        - previous_key_id
        - new_public_key
        - continuity_signature
      properties:
        previous_key_id:
          type: string
          pattern: ^[0-9a-f]{64}$
        new_public_key:
          type: string
          contentEncoding: base64
          maxLength: 128
        continuity_signature:
          type: string
          contentEncoding: base64
          maxLength: 128
    ClaimChallengeRequest:
      type: object
      additionalProperties: false
      required:
        - device_id
        - batch_commitment
      properties:
        device_id:
          type: string
          format: uuid
        batch_commitment:
          type: string
          pattern: ^[0-9a-f]{64}$
    ClaimChallenge:
      type: object
      additionalProperties: false
      required:
        - challenge_id
        - device_id
        - nonce
        - batch_commitment
        - expires_at
      properties:
        challenge_id:
          type: string
          pattern: ^[0-9a-f]{64}$
        device_id:
          type: string
          format: uuid
        nonce:
          type: string
          contentEncoding: base64
          maxLength: 64
        batch_commitment:
          type: string
          pattern: ^[0-9a-f]{64}$
        expires_at:
          type: string
          format: date-time
    ClaimRejection:
      type: object
      additionalProperties: false
      required:
        - claim_index
        - reason_code
        - retryable
      properties:
        claim_index:
          type: integer
          minimum: 0
          maximum: 255
        reason_code:
          type: string
          minLength: 1
          maxLength: 64
        retryable:
          type: boolean
    ClaimBatchResult:
      type: object
      additionalProperties: false
      required:
        - batch_id
        - state
        - accepted_claim_ids
        - rejections
        - checkpoint_receipt
      properties:
        batch_id:
          type: string
          format: uuid
        state:
          enum:
            - accepted
            - rejected
        accepted_claim_ids:
          type: array
          maxItems: 256
          items:
            type: string
            format: uuid
        rejections:
          type: array
          maxItems: 256
          items:
            $ref: '#/components/schemas/ClaimRejection'
        checkpoint_receipt:
          type:
            - string
            - 'null'
          contentEncoding: base64
          maxLength: 4096
    ClaimRecord:
      type: object
      additionalProperties: false
      required:
        - claim_id
        - device_id
        - sequence
        - state
        - payload_digest
        - appraisal_id
        - accepted_at
        - evidence_class
      properties:
        claim_id:
          type: string
          format: uuid
        device_id:
          type: string
          format: uuid
        sequence:
          type: integer
          minimum: 0
        state:
          enum:
            - accepted
            - corrected
            - retracted
            - quarantined
        payload_digest:
          type: string
          pattern: ^[0-9a-f]{64}$
        appraisal_id:
          type: string
          format: uuid
        accepted_at:
          type: string
          format: date-time
        evidence_class:
          enum:
            - hardened
            - standard
            - imported
          description: The awarded public evidence state from packages/schemas/evidence-profile-policy-v1.json. The server verifier assigns it; a client field requesting one is ignored under the policy's client-requested-public-state rule. Under ADR-020 the class is a weight on Credited Token Burn rather than a badge, and under D-100 no provider offers an individual-account attestation path, so the class assesses the quality of a self-report and is not a confirmation from any provider.
    RankEntry:
      type: object
      additionalProperties: false
      description: 'One standing on a leaderboard page. The field named score was removed under D-144: ADR-020 bans it as a name because it is the word that lets the claimed and credited figures merge.'
      required:
        - account_id
        - handle
        - display_name
        - avatar_id
        - evidence_class
        - credited_token_burn
        - position
        - previous_position
        - rank_movement
        - availability
        - ranking_view_id
        - snapshot_id
        - revision
      properties:
        account_id:
          type: string
          format: uuid
        handle:
          type: string
          minLength: 3
          maxLength: 30
        display_name:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 60
          description: Participant-chosen display name, distinct from the immutable handle. Null when the participant set none, in which case a client renders the handle.
        avatar_id:
          type: integer
          minimum: 0
          maximum: 8
          description: Index into the repository-owned avatar library in assets/ui/fixtures. The product accepts no uploaded image, so no participant-supplied media crosses the boundary.
        evidence_class:
          enum:
            - hardened
            - standard
            - imported
          description: The awarded public evidence state from packages/schemas/evidence-profile-policy-v1.json. The server verifier assigns it; a client field requesting one is ignored under the policy's client-requested-public-state rule. Under ADR-020 the class is a weight on Credited Token Burn rather than a badge, and under D-100 no provider offers an individual-account attestation path, so the class assesses the quality of a self-report and is not a confirmation from any provider.
        credited_token_burn:
          type: integer
          minimum: 0
          description: 'Credited Token Burn: Token Burn multiplied by the server-assigned confidence weight, floored, integer throughout. This is the quantity rank() orders. Token Burn itself is absent from every public surface under D-144, because publishing both quantities lets any observer recover the weight by division and, since the evidence class is already public, recover the trust factor and therefore a sanction D-084 keeps private.'
        position:
          type: integer
          minimum: 1
        previous_position:
          type:
            - integer
            - 'null'
          minimum: 1
          description: Position in the superseded generation of this ranking view, or null when this entry is new to the board.
        rank_movement:
          type: integer
          minimum: -1000000
          maximum: 1000000
          description: Positions gained since the previous generation of this ranking view. Negative is a fall, zero is unchanged.
        availability:
          enum:
            - online
            - idle
            - offline
          description: Server-derived from qualifying device activity. A participant whose presence visibility excludes this viewer reads offline, which is the same value an inactive participant reads.
        top_model_alias:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 64
        ranking_view_id:
          type: string
          pattern: ^[0-9a-f]{64}$
        snapshot_id:
          type: string
          format: uuid
        revision:
          type: integer
          minimum: 0
    LeaderboardPage:
      type: object
      additionalProperties: false
      required:
        - items
        - cursor
        - snapshot_id
        - revision
      properties:
        items:
          type: array
          maxItems: 200
          items:
            $ref: '#/components/schemas/RankEntry'
        cursor:
          type:
            - string
            - 'null'
          maxLength: 2048
        snapshot_id:
          type: string
          format: uuid
        revision:
          type: integer
          minimum: 0
    PublicProfile:
      type: object
      additionalProperties: false
      description: What a viewer authorized to read this profile receives. Every quantity on it is credited rather than raw, and no field on it identifies a provider account.
      required:
        - account_id
        - handle
        - display_name
        - avatar_id
        - ranked_state
        - evidence_class
        - credited_token_burn
        - availability
        - created_at
      properties:
        account_id:
          type: string
          format: uuid
        handle:
          type: string
          minLength: 3
          maxLength: 30
        display_name:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 60
          description: Participant-chosen display name, distinct from the immutable handle. Null when the participant set none, in which case a client renders the handle.
        avatar_id:
          type: integer
          minimum: 0
          maximum: 8
          description: Index into the repository-owned avatar library in assets/ui/fixtures. The product accepts no uploaded image, so no participant-supplied media crosses the boundary.
        ranked_state:
          enum:
            - unverified
            - eligible
            - restricted
            - retired
        evidence_class:
          enum:
            - hardened
            - standard
            - imported
          description: The awarded public evidence state from packages/schemas/evidence-profile-policy-v1.json. The server verifier assigns it; a client field requesting one is ignored under the policy's client-requested-public-state rule. Under ADR-020 the class is a weight on Credited Token Burn rather than a badge, and under D-100 no provider offers an individual-account attestation path, so the class assesses the quality of a self-report and is not a confirmation from any provider.
        credited_token_burn:
          type: integer
          minimum: 0
          description: 'Credited Token Burn: Token Burn multiplied by the server-assigned confidence weight, floored, integer throughout. This is the quantity rank() orders. Token Burn itself is absent from every public surface under D-144, because publishing both quantities lets any observer recover the weight by division and, since the evidence class is already public, recover the trust factor and therefore a sanction D-084 keeps private.'
        availability:
          enum:
            - online
            - idle
            - offline
          description: Server-derived from qualifying device activity. A participant whose presence visibility excludes this viewer reads offline, which is the same value an inactive participant reads.
        friend_count:
          type: integer
          minimum: 0
          maximum: 100000
        board_count:
          type: integer
          minimum: 0
          maximum: 10000
        top_model_alias:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 64
          description: Resolved model alias carrying the largest share of this participant's credited burn in the current period, or null when no period has qualifying activity. It is an accounting dimension, never a prompt, a response or anything derived from content.
        created_at:
          type: string
          format: date-time
    AccountProfile:
      type: object
      additionalProperties: false
      required:
        - account_id
        - handle
        - display_name
        - avatar_id
        - ranked_state
        - evidence_class
        - visibility
        - admitted
        - revision
      properties:
        account_id:
          type: string
          format: uuid
        handle:
          type: string
          minLength: 3
          maxLength: 30
        admitted:
          type: boolean
[...]
